button {
  padding: 1.5rem 9rem;
  margin-top: 7rem;
  border: 3px solid $color-accent;
  border-radius: 1.5rem;
  color: $color-accent;
  text-transform: uppercase;
  transition: background-color .3s;

  &:hover {
    background-color: rgba($color-accent, .1);
  }
}
