.answer-options {
  margin-top: 7rem;
  text-align: left;
}

.answer-option {
  padding: 2rem;
  border-radius: 2rem;
  background-color: $color-background-answers;
  box-shadow: 0 0 1rem rgba($color-black, .1);
  transition: box-shadow .5s;

  &:hover {
    box-shadow: 0 0 1rem rgba($color-accent, .8);
  }

  + .answer-option {
    margin-top: 2rem;
  }

  * {
    cursor: pointer;
    user-select: none;
  }

  label {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 7rem;

    span {
      position: absolute;
      left: -7rem;
      display: inline-block;
      width: 3rem;
      height: 3rem;
      margin-left: 2rem;
      border: 2px solid rgba($color-font, .5);
      border-radius: 100%;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 100%;
        background-color: $color-accent;
        transform: translate(-50%, -50%) scale(0);
        transition: transform .3s;
      }
    }
  }

  input {
    display: none;

    &:checked {
      + label {
        span {
          &::after {
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-small) {
  .answer-options {
    margin-top: 4rem;
  }
}
