.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(#{96rem} + #{2 * $content-margin});
  min-height: 90vh;
  padding: $content-margin;
  margin: 0 auto;
  margin-top: 6vh;
}

h1 {
  text-align: center;
  text-transform: uppercase;

  &::after {
    content: '';
    display: block;
    width: 80%;
    margin: 0 auto;
    border-bottom: 3px solid $color-accent;
    border-radius: 2rem;
  }

  + h2 {
    margin-top: $gutter-width;
    margin-bottom: 5rem;
    text-align: center;
  }
}

.card {
  padding: 7rem 5rem;
  border-radius: 2rem;
  background-color: $color-background-card;
  box-shadow: 0 0 3rem rgba($color-black, .2);
  text-align: center;
  align-self: stretch;
}

@media (max-width: $breakpoint-medium-large) {
  .app {
    margin-top: 0;
  }
}

@media (max-width: $breakpoint-small) {
  h1 {
    + h2 {
      margin-top: 2.5rem;
      margin-bottom: 3rem;
    }
  }

  .card {
    padding: 4rem;
  }
}
