.result {
  h2 {
    span {
      color: $color-accent;
    }
  }

  .result-percentage {
    margin-top: $gutter-width;
    color: $color-accent;
    font-size: 6rem;

    span {
      font-size: 6rem;
    }
  }

  p {
    margin-top: 7rem;
  }
}
